.button
{
    height: 36px;
    width: 116px;
    cursor: pointer;
}

.light_mode 
{
    background: linear-gradient( to left, rgb(214, 185, 185), rgb(157, 0, 255));
    border-radius: 5PX;
    color: aliceblue;
    border: none;
    box-shadow: 0px 1px 12px rgb(105, 105, 175);
}

.dark_mode
{
    border: 2px solid blueviolet;
    border-radius: 5PX;
    background: transparent;
    color: rgb(199, 151, 243);
    box-shadow: 0px 1px 12px rgb(105, 105, 175);
}